body {
    background-color: #151525;
    color: white;
    font-family: "Roboto", sans-serif;
}


.header-picture {
    position: relative;
    width: 100%;
}
.header-picture img {
    width: 100%;
    opacity: 0.5;
    display: block;
    height: 700px;
}
.small-text {
    font-size: 15px;
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F5F9FF;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    z-index: 2;
    
}
.email, .phone {
    align-self: center;
}

.LearnWrapper{
    background-color: white;
    color: black;
    padding: 9%;
    text-align: center;
        padding: 40px;
    
}
.SupplySourcing{
        padding: 40px;
    background-color: #abb8e6;
}
.ExpertSupport{
        padding: 40px;
    background-color: #8A98C9;
}
.QualityAssurance{
        padding: 40px;
    background-color: #abb8e6;

}

.contact-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}


.center-contact
{
    display: flex;
    text-align: center;
    justify-content: flex-end; /* Push to the right */
    align-self: center;
}

.ContactUs{
    width: 60%;
    text-align: center;    
}

textarea {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box
}
.send-message-box{
    padding: 10px;
    
}
.center-picture img{
  padding-top: 20px;
  width: 90%;           /* Make image smaller */
  height: 80%;           /* Keep aspect ratio */
}


.Message-box {
    width: 40%;
    height: 120px;
    padding: 10px;
    font-size: 16px;
    resize: none;
    margin-bottom: 20px;
}

.form-wrapper {
    gap: 10px;
    margin-top: 10px;
}
.send-message-box button{
    text-align: center;
    background-color: #66BAF1 ;    
    color: #F5F9FF;
    border: none;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.send-message-box button:hover {
    background-color: #003f88;
}

.my-photo {
    display: block;
}

@media (max-width: 768px) {
    .my-photo {
        display: none;
    }
}